html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
  font-family: Lato, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center;
}

figure {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

div {
  margin: 1.5rem;
  margin-top: 0;
  margin-bottom: .35em;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 23em;
  display: block;
  text-align: center;
}

h2{
  margin-top: 1rem;
  padding-top: .25em;
  font-weight: bold;
}

p {
  padding-bottom: 1em;
  max-width: 23em;
  font-style: normal;
}

.btn {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: .5em .75em .6em;
  border-radius: 7px;
  border: 3px solid #333;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.btn:hover {
  border-radius: 5px;
  border: 3px solid #666;
  background-color: #666;
  color: #fff;
}
